.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-in-out;
    overflow: hidden;
  }

  .overlayVisible{
    visibility: visible;
    opacity: 1;

    .drawer { 
      transform: translateX(0);
    }
  }
  
  .drawer { 
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 420px;
    right: 0;
    height: 100%;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
  
    .titleCart {
      margin: 0;
      font-size: 24px;
      margin-bottom: 30px;
  
      display: flex;
      justify-content: space-between;
    }
  
    .removeBtn {
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;
      cursor: pointer;
  
      &:hover {opacity: 1}
    }
  
    .items {
      flex: 1;
      overflow: auto;
      margin-bottom: 40px;
      padding: 20px 0;
    }
  
  }
  
  .cartItem {
    display: flex;
    align-items: center;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    margin-bottom: 20px;
  
    &:last-of-type {margin-bottom: 0}
  
  
    .cartImg {
      width: 70px;
      height: 70px;
      margin-right: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 -3px;
    }
   .cartItemText {
      margin-right: 20px;
      flex: 1;
      p {font-size: 16px;}
      b {font-size: 14px;}
   }
  
  }



  .cartTotalBlock {
    ul {
      display: block;
      margin-bottom: 40px;
      .bbsLine {
        margin: 0 7px;
        position: relative;
        top:-4px;
        flex:1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
      }
      li {
        display: flex;
        align-items: flex-end;
        margin-bottom: 30px;
        &:last-of-type {margin-bottom: 0}
      }
    }
  
    .greenButton {
      position: relative;

      &:disabled {

        animation: button-loading 0.7s ease-in-out infinite;
        background-color: #bebebe;
        cursor: default;
      }
    
      .arrowOrder{
        top:21px;
        right: 30px;
        position: absolute;
        transition: transform 0.15s ease-in-out;
      }
    
      &:hover{
        .arrowOrder{
          transform: translateX(5px);
        }
      }
  
    }
  }

  @keyframes button-loading {
    0%{
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

.greenButton {
  width: 100%;
  height: 55px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background: #9DD558;
  border-radius: 18px;
  color: #FFFFFF;
  border:none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  &:hover{
    background: lighten(#9DD558, 5%);
  }
  &:hover{
    background: darken(#9DD558, 5%);
  }
}


@media screen and (max-width:760px) {
  .drawer { width: 100%}
}