header {
    border-bottom: 1px solid #eaeaea;
    padding: 40px;
    img {margin-right: 15px;}
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .headerLeft {
      display: flex;
      align-items: center;
      .headerInfo {
        h3 { text-transform: uppercase;}
        h3, p {margin: 0;}
        p {opacity: 0.5;}
      }
    }
    .headerRight {
      cursor: pointer;
      display: flex;
      .favoritesBox{
        margin-right: 20px;
      }
      .cartBox {
        margin-right: 30px;
      }
    }
  
    
.mobileMenu {

    display: none;

    @keyframes bugfix { from {padding:0;} to {padding:0;}}
    @-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}
    
    .overlayButton {
      padding: 10px 2px;
      z-index: 5;
      cursor: pointer;
      user-select: none;
      span {
          height: 2px;
          width: 25px;
          border-radius: 2px;
          background-color: rgb(155, 155, 155);
          position: relative;
          display: block;
          transition: all .2s ease-in-out;
          &:before {
            top: -7px;
            visibility: visible;
          }
          &:after {
            top: 7px;
          }
          &:before, &:after {
              height: 2px;
              width: 25px;
              border-radius: 2px;
              background-color: rgb(155, 155, 155);
              position: absolute;
              content: "";
              transition: all .2s ease-in-out;
          }
        }
        &:hover span, &:hover span:before, &:hover span:after {
          background: #333332;
        }
    }
    
   .overlayButton.activeMobileMenu {
        &:hover span, span{
          background: transparent;
        }
        span {
          &:before {
            transform: rotate(45deg) translate(7px, 7px);
            opacity: 1;
          }
          &:after {
            transform: rotate(-45deg) translate(7px, -7px);
          }
        }
      }


    }


  }

  @media screen and (max-width:760px) {
    header {
      padding: 20px;
      position: fixed;
      width: 100%;
      z-index: 2;
      background-color: #ffffff8a;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);

      .headerInfo {
        h3 {font-size: 16px;}
        p{font-size: 12px;}
      }

    .headerRight{
      .mobileMenu{display: block;}
      
       li:not(.mobileMenu){display: none;}
    }
  }
}