.counter{
    height: 23px;
    width: 23px;
    position: absolute;
    top: -12px;
    left: 12px;
    color: #ffffff;
    background-color: #db0a0a;
    font-size: 11px;
    padding: 5px 0;
    border-radius: 50%;
    display: block;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: opacity 0.2s ease-out, visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-out, visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-out, visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-out, visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
    backface-visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .counterVisible{
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
  }
